<h1>Boards#show</h1>


<p id="notice"><%= notice %></p>

<div class="ui card">
  
  <div class="content">
    <p class="header">
      <%= @board.name %> 
    </p>
  <div class="meta">
  <ul>
    <li>
  
      <%=@board.order%>
    </li>
  </ul>
  </div>
  <div class="description">
    <%= @board.order %>

  </div>
 </div>
 <div class="extra content">
  <%= link_to 'Add Topic', new_board_topic_path(@board.id) %> |
  <%= link_to 'Edit', edit_board_path(@board) %> |
  <%= link_to 'Back', boards_path %>
 </div>
</div>